<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	I/ULCuF2/Siky0Cm/utSjGVuuHe+z/aGp71EwpoxfRDF0M97cBqEKzkybecZdUsmGSqc
	AIvh4e/IzcPjhTAd53HAvFJbc7x6dLHwnKA9Gd3yvGiiG8stuY/iQ/G5gxl0Hb/SYYHk
	OSD83Vdmp+8ftGVvNf+MlmDaHH2awJVtK8I=
	</data>
</dict>
</plist>
