[storage]
engine = icloud
directory = Mackup

[applications_to_sync]
moom
textexpander
popclip
bartender
taskpaper
istat-menus
hyper
karabiner-elements
asciinema
bat
ghostty
kubectl
macosx
marked2
micro
cyberduck
brave
docker
go2shell
#insomnia
