<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	QV33ydXPTaFU1NMgx4vDi3ElspBn7hHk0VDsu5XONDcmag6gRC6zBBty9Cfu9K7uXz/I
	wNqTLF171aiuRkATztPmbBd/mpN/ugCexB27MoZfYTi3bW7PlF4aARjFas5e9aiZqK0o
	FU7/mOWxBFb3mgYOQ4/TVatPXzwBHvEq1Ak=
	</data>
</dict>
</plist>
