<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Description</key>
	<string>Copy web content as Markdown.</string>
	<key>Extension Identifier</key>
	<string>com.pilotmoon.popclip.extension.copy-as-markdown</string>
	<key>Extension Image File</key>
	<string>&gt;md.png</string>
	<key>Extension Name</key>
	<string>Copy as Markdown</string>
</dict>
</plist>
