<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AnnouncementsDismissedFilenames</key>
	<array>
		<string>2025-11-11_2.html</string>
		<string>2025-11-11.html</string>
	</array>
	<key>AnnouncementsLastCheckDate</key>
	<date>2026-07-09T19:27:34Z</date>
	<key>AnnouncementsLastShownFilename</key>
	<string>2025-11-11.html</string>
	<key>LastRunAppVersion</key>
	<string>3.1.17</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{880, 448}</string>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va3wDAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAEQCAAAEAAAAAwMAAAAEAAAFAAAAAQEAAFVzZXJzAAAACAAAAAEB
	AAB2aWtnYW1vdggAAAABAQAAcHJvamVjdHMCAAAAAQEAAGFpAAAWAAAAAQEAAHZzY29k
	ZS1vcGVuLWluLW1hcmtlZDIAAAgAAAABAQAAb3BlbnNwZWMYAAAAAQYAABAAAAAgAAAA
	MAAAAEAAAABMAAAAbAAAAAgAAAAEAwAAhFwAAAAAAAAIAAAABAMAACbCAwAAAAAACAAA
	AAQDAADzJRcAAAAAAAgAAAAEAwAAfgLCFgAAAAAIAAAABAMAAFqYjCAAAAAACAAAAAQD
	AAAomYwgAAAAABgAAAABBgAAnAAAAKwAAAC8AAAAzAAAANwAAADsAAAACAAAAAAEAABB
	x5YnmQl5jhgAAAABAgAAAgAAAAAAAAAfAgAAAAAAAB8CAAAAAAAAAAAAAAEFAAAIAAAA
	BAMAAAQAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFj
	aW50b3NoIEhECAAAAAQDAAAAIEWM0AEAAAgAAAAABAAAQcdo+3QAAAAkAAAAAQEAADU2
	QzI4Q0JCLTI3QUItNDBEQi04REJDLUZFNEFDMjNEODhENxgAAAABAgAAgQAAAAEAAADv
	EwAAAQAAAO8TAAABAAAAAQAAAAEBAAAvAAAAMAAAAAECAABkbmliAAAAAAEAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAByZGxmAgAAAAAAAADwAAAA/v///wEAAAAAAAAAEwAA
	AAQQAAB8AAAAAAAAAAUQAAD8AAAAAAAAABAQAAAsAQAAAAAAAEAQAAAcAQAAAAAAAAIg
	AAAAAgAAAAAAAAUgAABwAQAAAAAAABAgAACAAQAAAAAAABEgAAC0AQAAAAAAABIgAACU
	AQAAAAAAABMgAACkAQAAAAAAACAgAADgAQAAAAAAADAgAABMAQAAAAAAAAHAAABUAQAA
	AAAAABHAAAAgAAAAAAAAABLAAABkAQAAAAAAAAHQAABMAQAAAAAAABDQAAAEAAAAAAAA
	ABfwAABsAAAAAAAAACLwAAAMAgAAAAAAAA==
	</data>
	<key>NSWindow Frame MarkedPreferences</key>
	<string>363 579 670 502 0 0 1728 1085 </string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>2241 209 430 188 1496 -313 1920 1280 </string>
	<key>NSWindow Frame internalhelppanel</key>
	<string>161 493 1000 838 0 0 1728 1083 </string>
	<key>NSWindow Frame markdownpreview</key>
	<string>0 0 1728 1083 0 0 1728 1083 </string>
	<key>NSWindow Frame ministatswindow</key>
	<string>1006 80 223 364 0 0 1728 1083 </string>
	<key>STP_is_first_launch</key>
	<false/>
	<key>STP_last_used_version</key>
	<string>3.4.1</string>
	<key>WebContinuousSpellCheckingEnabled</key>
	<true/>
	<key>WebKitDeveloperExtras</key>
	<false/>
	<key>autoHighlight</key>
	<false/>
	<key>collapsibleHeadlines</key>
	<true/>
	<key>customCSS</key>
	<array>
		<dict>
			<key>name</key>
			<string>marked2-editorial</string>
			<key>path</key>
			<string>/Users/vikgamov/projects/ai/vscode-open-in-marked2/styles/marked2-editorial.css</string>
		</dict>
		<dict>
			<key>name</key>
			<string>marked2-technical</string>
			<key>path</key>
			<string>/Users/vikgamov/projects/ai/vscode-open-in-marked2/styles/marked2-technical.css</string>
		</dict>
		<dict>
			<key>name</key>
			<string>marked2-warm</string>
			<key>path</key>
			<string>/Users/vikgamov/projects/ai/vscode-open-in-marked2/styles/marked2-warm.css</string>
		</dict>
	</array>
	<key>customCSSCreated</key>
	<true/>
	<key>customCSSPath</key>
	<string>/Users/vikgamov/projects/ai/vscode-open-in-marked2/styles/marked2-technical.css</string>
	<key>customMarkdownProcessor</key>
	<string></string>
	<key>customPreprocessor</key>
	<string></string>
	<key>customPreprocessorArguments</key>
	<string></string>
	<key>customPreprocessorDefault</key>
	<true/>
	<key>customProcessorArguments</key>
	<string></string>
	<key>customProcessorDefault</key>
	<true/>
	<key>defaultPreviewStyle</key>
	<integer>10</integer>
	<key>defaultProcessor</key>
	<string>Discount</string>
	<key>enableMiniMap</key>
	<true/>
	<key>externalEditor</key>
	<string>Ulysses</string>
	<key>externalEditorURL</key>
	<string>/Applications/Setapp/Ulysses.app</string>
	<key>externalEditorUserCleared</key>
	<false/>
	<key>externalImageEditor</key>
	<string>Pixelmator</string>
	<key>externalImageEditorURL</key>
	<string>/Applications/Pixelmator.app</string>
	<key>externalImageEditorUserCleared</key>
	<false/>
	<key>externalMarkupEditor</key>
	<string>CleanShot X</string>
	<key>externalMarkupEditorURL</key>
	<string>/Applications/Setapp/CleanShot X.app</string>
	<key>externalMarkupEditorUserCleared</key>
	<false/>
	<key>firstRun</key>
	<false/>
	<key>hasCustomCSSPath</key>
	<true/>
	<key>hasMigratedToMKConductor</key>
	<true/>
	<key>inAppPurchases</key>
	<dict>
		<key>spellingGrammar</key>
		<true/>
	</dict>
	<key>includeMathJax</key>
	<false/>
	<key>includePreviewTemplateInOutput</key>
	<false/>
	<key>isMultiMarkdownDefault</key>
	<false/>
	<key>lastPrefsView</key>
	<integer>7</integer>
	<key>mathjaxConfigs</key>
	<array>
		<string>Accessible</string>
		<string>AM_HTMLorMML</string>
		<string>MML_HTMLorMML</string>
		<string>TeX-AMS_CHTML</string>
		<string>TeX-AMS_HTML</string>
		<string>TeX-AMS-MML_HTMLorMML</string>
		<string>TeX-MML-AM_CHTML</string>
		<string>TeX-MML-AM_HTMLorMML</string>
	</array>
	<key>minimalJavaScript</key>
	<true/>
	<key>permissionGranted</key>
	<true/>
	<key>requireCmdToCollapse</key>
	<true/>
	<key>showQuickOverviewOnLaunch</key>
	<false/>
	<key>styleManagerStyles</key>
	<array>
		<dict>
			<key>bundleResource</key>
			<string>swiss</string>
			<key>createdAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>builtin-swiss</string>
			<key>isBuiltin</key>
			<true/>
			<key>name</key>
			<string>Swiss</string>
			<key>path</key>
			<string></string>
			<key>sortIndex</key>
			<integer>0</integer>
			<key>source</key>
			<string>Builtin</string>
			<key>updatedAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>bundleResource</key>
			<string>ink</string>
			<key>createdAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>builtin-ink</string>
			<key>isBuiltin</key>
			<true/>
			<key>name</key>
			<string>Ink</string>
			<key>path</key>
			<string></string>
			<key>sortIndex</key>
			<integer>1</integer>
			<key>source</key>
			<string>Builtin</string>
			<key>updatedAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>bundleResource</key>
			<string>goldilocks</string>
			<key>createdAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>builtin-goldilocks</string>
			<key>isBuiltin</key>
			<true/>
			<key>name</key>
			<string>Goldilocks</string>
			<key>path</key>
			<string></string>
			<key>sortIndex</key>
			<integer>2</integer>
			<key>source</key>
			<string>Builtin</string>
			<key>updatedAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>bundleResource</key>
			<string>github</string>
			<key>createdAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>builtin-github</string>
			<key>isBuiltin</key>
			<true/>
			<key>name</key>
			<string>GitHub</string>
			<key>path</key>
			<string></string>
			<key>sortIndex</key>
			<integer>3</integer>
			<key>source</key>
			<string>Builtin</string>
			<key>updatedAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>bundleResource</key>
			<string>amblin</string>
			<key>createdAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>builtin-amblin</string>
			<key>isBuiltin</key>
			<true/>
			<key>name</key>
			<string>Amblin</string>
			<key>path</key>
			<string></string>
			<key>sortIndex</key>
			<integer>4</integer>
			<key>source</key>
			<string>Builtin</string>
			<key>updatedAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>bundleResource</key>
			<string>UpstandingCitizen</string>
			<key>createdAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>builtin-upstandingcitizen</string>
			<key>isBuiltin</key>
			<true/>
			<key>name</key>
			<string>Upstanding Citizen</string>
			<key>path</key>
			<string></string>
			<key>sortIndex</key>
			<integer>5</integer>
			<key>source</key>
			<string>Builtin</string>
			<key>updatedAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>bundleResource</key>
			<string>Lopash</string>
			<key>createdAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>builtin-lopash</string>
			<key>isBuiltin</key>
			<true/>
			<key>name</key>
			<string>Lopash</string>
			<key>path</key>
			<string></string>
			<key>sortIndex</key>
			<integer>6</integer>
			<key>source</key>
			<string>Builtin</string>
			<key>updatedAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>bundleResource</key>
			<string>manuscript</string>
			<key>createdAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>builtin-manuscript</string>
			<key>isBuiltin</key>
			<true/>
			<key>name</key>
			<string>Manuscript</string>
			<key>path</key>
			<string></string>
			<key>sortIndex</key>
			<integer>7</integer>
			<key>source</key>
			<string>Builtin</string>
			<key>updatedAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>bundleResource</key>
			<string>Grump</string>
			<key>createdAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>builtin-grump</string>
			<key>isBuiltin</key>
			<true/>
			<key>name</key>
			<string>Grump</string>
			<key>path</key>
			<string></string>
			<key>sortIndex</key>
			<integer>8</integer>
			<key>source</key>
			<string>Builtin</string>
			<key>updatedAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>bundleResource</key>
			<string></string>
			<key>createdAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>custom-baaf09a7-73e8-4e65-b56e-5bda032f4bd2</string>
			<key>isBuiltin</key>
			<false/>
			<key>name</key>
			<string>marked2-editorial</string>
			<key>path</key>
			<string>/Users/vikgamov/projects/ai/vscode-open-in-marked2/styles/marked2-editorial.css</string>
			<key>source</key>
			<string>Custom</string>
			<key>updatedAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>bundleResource</key>
			<string></string>
			<key>createdAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>custom-de95d406-52d4-472f-8bf8-17d949dc4782</string>
			<key>isBuiltin</key>
			<false/>
			<key>name</key>
			<string>marked2-technical</string>
			<key>path</key>
			<string>/Users/vikgamov/projects/ai/vscode-open-in-marked2/styles/marked2-technical.css</string>
			<key>source</key>
			<string>Custom</string>
			<key>updatedAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>bundleResource</key>
			<string></string>
			<key>createdAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>custom-b81a8778-1307-43a2-9c20-0373c442c5c0</string>
			<key>isBuiltin</key>
			<false/>
			<key>name</key>
			<string>marked2-warm</string>
			<key>path</key>
			<string>/Users/vikgamov/projects/ai/vscode-open-in-marked2/styles/marked2-warm.css</string>
			<key>source</key>
			<string>Custom</string>
			<key>updatedAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>syntaxHighlightOnlyLang</key>
	<true/>
	<key>syntaxStyles</key>
	<array>
		<string>1c-light</string>
		<string>a11y-dark</string>
		<string>a11y-light</string>
		<string>agate</string>
		<string>an-old-hope</string>
		<string>androidstudio</string>
		<string>arduino-light</string>
		<string>arta</string>
		<string>atom-one-dark</string>
		<string>atom-one-dark-reasonable</string>
		<string>atom-one-light</string>
		<string>base16-3024</string>
		<string>base16-apathy</string>
		<string>base16-apprentice</string>
		<string>base16-ashes</string>
		<string>base16-atelier-cave</string>
		<string>base16-atelier-cave-light</string>
		<string>base16-atelier-dune</string>
		<string>base16-atelier-dune-light</string>
		<string>base16-atelier-estuary</string>
		<string>base16-atelier-estuary-light</string>
		<string>base16-atelier-forest</string>
		<string>base16-atelier-forest-light</string>
		<string>base16-atelier-heath</string>
		<string>base16-atelier-heath-light</string>
		<string>base16-atelier-lakeside</string>
		<string>base16-atelier-lakeside-light</string>
		<string>base16-atelier-plateau</string>
		<string>base16-atelier-plateau-light</string>
		<string>base16-atelier-savanna</string>
		<string>base16-atelier-savanna-light</string>
		<string>base16-atelier-seaside</string>
		<string>base16-atelier-seaside-light</string>
		<string>base16-atelier-sulphurpool</string>
		<string>base16-atelier-sulphurpool-light</string>
		<string>base16-atlas</string>
		<string>base16-bespin</string>
		<string>base16-black-metal</string>
		<string>base16-black-metal-bathory</string>
		<string>base16-black-metal-burzum</string>
		<string>base16-black-metal-dark-funeral</string>
		<string>base16-black-metal-gorgoroth</string>
		<string>base16-black-metal-immortal</string>
		<string>base16-black-metal-khold</string>
		<string>base16-black-metal-marduk</string>
		<string>base16-black-metal-mayhem</string>
		<string>base16-black-metal-nile</string>
		<string>base16-black-metal-venom</string>
		<string>base16-brewer</string>
		<string>base16-bright</string>
		<string>base16-brogrammer</string>
		<string>base16-brush-trees</string>
		<string>base16-brush-trees-dark</string>
		<string>base16-chalk</string>
		<string>base16-circus</string>
		<string>base16-classic-dark</string>
		<string>base16-classic-light</string>
		<string>base16-codeschool</string>
		<string>base16-colors</string>
		<string>base16-cupcake</string>
		<string>base16-cupertino</string>
		<string>base16-danqing</string>
		<string>base16-darcula</string>
		<string>base16-dark-violet</string>
		<string>base16-darkmoss</string>
		<string>base16-darktooth</string>
		<string>base16-decaf</string>
		<string>base16-default-dark</string>
		<string>base16-default-light</string>
		<string>base16-dirtysea</string>
		<string>base16-dracula</string>
		<string>base16-edge-dark</string>
		<string>base16-edge-light</string>
		<string>base16-eighties</string>
		<string>base16-embers</string>
		<string>base16-equilibrium-dark</string>
		<string>base16-equilibrium-gray-dark</string>
		<string>base16-equilibrium-gray-light</string>
		<string>base16-equilibrium-light</string>
		<string>base16-espresso</string>
		<string>base16-eva</string>
		<string>base16-eva-dim</string>
		<string>base16-flat</string>
		<string>base16-framer</string>
		<string>base16-fruit-soda</string>
		<string>base16-gigavolt</string>
		<string>base16-github</string>
		<string>base16-google-dark</string>
		<string>base16-google-light</string>
		<string>base16-grayscale-dark</string>
		<string>base16-grayscale-light</string>
		<string>base16-green-screen</string>
		<string>base16-gruvbox-dark-hard</string>
		<string>base16-gruvbox-dark-medium</string>
		<string>base16-gruvbox-dark-pale</string>
		<string>base16-gruvbox-dark-soft</string>
		<string>base16-gruvbox-light-hard</string>
		<string>base16-gruvbox-light-medium</string>
		<string>base16-gruvbox-light-soft</string>
		<string>base16-hardcore</string>
		<string>base16-harmonic16-dark</string>
		<string>base16-harmonic16-light</string>
		<string>base16-heetch-dark</string>
		<string>base16-heetch-light</string>
		<string>base16-helios</string>
		<string>base16-hopscotch</string>
		<string>base16-horizon-dark</string>
		<string>base16-horizon-light</string>
		<string>base16-humanoid-dark</string>
		<string>base16-humanoid-light</string>
		<string>base16-ia-dark</string>
		<string>base16-ia-light</string>
		<string>base16-icy-dark</string>
		<string>base16-ir-black</string>
		<string>base16-isotope</string>
		<string>base16-kimber</string>
		<string>base16-london-tube</string>
		<string>base16-macintosh</string>
		<string>base16-marrakesh</string>
		<string>base16-materia</string>
		<string>base16-material</string>
		<string>base16-material-darker</string>
		<string>base16-material-lighter</string>
		<string>base16-material-palenight</string>
		<string>base16-material-vivid</string>
		<string>base16-mellow-purple</string>
		<string>base16-mexico-light</string>
		<string>base16-mocha</string>
		<string>base16-monokai</string>
		<string>base16-nebula</string>
		<string>base16-nord</string>
		<string>base16-nova</string>
		<string>base16-ocean</string>
		<string>base16-oceanicnext</string>
		<string>base16-one-light</string>
		<string>base16-onedark</string>
		<string>base16-outrun-dark</string>
		<string>base16-papercolor-dark</string>
		<string>base16-papercolor-light</string>
		<string>base16-paraiso</string>
		<string>base16-pasque</string>
		<string>base16-phd</string>
		<string>base16-pico</string>
		<string>base16-pop</string>
		<string>base16-porple</string>
		<string>base16-qualia</string>
		<string>base16-railscasts</string>
		<string>base16-rebecca</string>
		<string>base16-ros-pine</string>
		<string>base16-ros-pine-dawn</string>
		<string>base16-ros-pine-moon</string>
		<string>base16-sagelight</string>
		<string>base16-sandcastle</string>
		<string>base16-seti-ui</string>
		<string>base16-shapeshifter</string>
		<string>base16-silk-dark</string>
		<string>base16-silk-light</string>
		<string>base16-snazzy</string>
		<string>base16-solar-flare</string>
		<string>base16-solar-flare-light</string>
		<string>base16-solarized-dark</string>
		<string>base16-solarized-light</string>
		<string>base16-spacemacs</string>
		<string>base16-summercamp</string>
		<string>base16-summerfruit-dark</string>
		<string>base16-summerfruit-light</string>
		<string>base16-synth-midnight-terminal-dark</string>
		<string>base16-synth-midnight-terminal-light</string>
		<string>base16-tango</string>
		<string>base16-tender</string>
		<string>base16-tomorrow</string>
		<string>base16-tomorrow-night</string>
		<string>base16-twilight</string>
		<string>base16-unikitty-dark</string>
		<string>base16-unikitty-light</string>
		<string>base16-vulcan</string>
		<string>base16-windows-10</string>
		<string>base16-windows-10-light</string>
		<string>base16-windows-95</string>
		<string>base16-windows-95-light</string>
		<string>base16-windows-high-contrast</string>
		<string>base16-windows-high-contrast-light</string>
		<string>base16-windows-nt</string>
		<string>base16-windows-nt-light</string>
		<string>base16-woodland</string>
		<string>base16-xcode-dusk</string>
		<string>base16-zenburn</string>
		<string>codepen-embed</string>
		<string>color-brewer</string>
		<string>dark</string>
		<string>default</string>
		<string>foundation</string>
		<string>github</string>
		<string>github-dark</string>
		<string>github-dark-dimmed</string>
		<string>googlecode</string>
		<string>grayscale</string>
		<string>hybrid</string>
		<string>idea</string>
		<string>intellij-light</string>
		<string>ir-black</string>
		<string>isbl-editor-dark</string>
		<string>isbl-editor-light</string>
		<string>kimbie-dark</string>
		<string>kimbie-light</string>
		<string>mono-blue</string>
		<string>monokai</string>
		<string>monokai-sublime</string>
		<string>night-owl</string>
		<string>nnfx-dark</string>
		<string>nnfx-light</string>
		<string>nord</string>
		<string>obsidian</string>
		<string>panda-syntax-dark</string>
		<string>panda-syntax-light</string>
		<string>paraiso-dark</string>
		<string>paraiso-light</string>
		<string>pojoaque</string>
		<string>purebasic</string>
		<string>qtcreator-dark</string>
		<string>qtcreator-light</string>
		<string>rainbow</string>
		<string>rose-pine</string>
		<string>rose-pine-dawn</string>
		<string>rose-pine-moon</string>
		<string>school-book</string>
		<string>shades-of-purple</string>
		<string>srcery</string>
		<string>stackoverflow-dark</string>
		<string>stackoverflow-light</string>
		<string>sunburst</string>
		<string>tokyo-night-dark</string>
		<string>tokyo-night-light</string>
		<string>tomorrow-night-blue</string>
		<string>tomorrow-night-bright</string>
		<string>vs</string>
		<string>vs2015</string>
		<string>xcode</string>
		<string>xt256</string>
	</array>
	<key>tempWords</key>
	<string></string>
	<key>textZoom</key>
	<real>1</real>
	<key>useCustomMarkdownProcessor</key>
	<true/>
	<key>useCustomPreprocessor</key>
	<true/>
	<key>wordStyles</key>
	<array>
		<string>Chill</string>
		<string>Grump</string>
		<string>Headspace</string>
		<string>Ink</string>
		<string>Manuscript</string>
		<string>Swiss</string>
		<string>Upstanding Citizen</string>
	</array>
</dict>
</plist>
