<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AnnouncementsLastCheckDate</key>
	<date>2026-05-24T15:05:32Z</date>
	<key>AnnouncementsLastShownFilename</key>
	<string>2025-11-11_2.html</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{880, 448}</string>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va3wDAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAEQCAAAEAAAAAwMAAAAEAAAFAAAAAQEAAFVzZXJzAAAACAAAAAEB
	AAB2aWtnYW1vdggAAAABAQAAcHJvamVjdHMCAAAAAQEAAGFpAAAWAAAAAQEAAHZzY29k
	ZS1vcGVuLWluLW1hcmtlZDIAAAgAAAABAQAAb3BlbnNwZWMYAAAAAQYAABAAAAAgAAAA
	MAAAAEAAAABMAAAAbAAAAAgAAAAEAwAAhFwAAAAAAAAIAAAABAMAACbCAwAAAAAACAAA
	AAQDAADzJRcAAAAAAAgAAAAEAwAAfgLCFgAAAAAIAAAABAMAAFqYjCAAAAAACAAAAAQD
	AAAomYwgAAAAABgAAAABBgAAnAAAAKwAAAC8AAAAzAAAANwAAADsAAAACAAAAAAEAABB
	x5YnmQl5jhgAAAABAgAAAgAAAAAAAAAfAgAAAAAAAB8CAAAAAAAAAAAAAAEFAAAIAAAA
	BAMAAAQAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFj
	aW50b3NoIEhECAAAAAQDAAAAIEWM0AEAAAgAAAAABAAAQcdo+3QAAAAkAAAAAQEAADU2
	QzI4Q0JCLTI3QUItNDBEQi04REJDLUZFNEFDMjNEODhENxgAAAABAgAAgQAAAAEAAADv
	EwAAAQAAAO8TAAABAAAAAQAAAAEBAAAvAAAAMAAAAAECAABkbmliAAAAAAEAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAByZGxmAgAAAAAAAADwAAAA/v///wEAAAAAAAAAEwAA
	AAQQAAB8AAAAAAAAAAUQAAD8AAAAAAAAABAQAAAsAQAAAAAAAEAQAAAcAQAAAAAAAAIg
	AAAAAgAAAAAAAAUgAABwAQAAAAAAABAgAACAAQAAAAAAABEgAAC0AQAAAAAAABIgAACU
	AQAAAAAAABMgAACkAQAAAAAAACAgAADgAQAAAAAAADAgAABMAQAAAAAAAAHAAABUAQAA
	AAAAABHAAAAgAAAAAAAAABLAAABkAQAAAAAAAAHQAABMAQAAAAAAABDQAAAEAAAAAAAA
	ABfwAABsAAAAAAAAACLwAAAMAgAAAAAAAA==
	</data>
	<key>NSWindow Frame MarkedPreferences</key>
	<string>363 579 670 502 0 0 1728 1085 </string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>2241 209 430 188 1496 -313 1920 1280 </string>
	<key>NSWindow Frame internalhelppanel</key>
	<string>161 493 1000 838 0 0 1728 1083 </string>
	<key>NSWindow Frame markdownpreview</key>
	<string>0 0 1728 1083 0 0 1728 1083 </string>
	<key>NSWindow Frame ministatswindow</key>
	<string>1006 80 223 364 0 0 1728 1083 </string>
	<key>STP_is_first_launch</key>
	<false/>
	<key>STP_last_used_version</key>
	<string>3.4.1</string>
	<key>WebContinuousSpellCheckingEnabled</key>
	<true/>
	<key>WebKitDeveloperExtras</key>
	<false/>
	<key>autoHighlight</key>
	<false/>
	<key>collapsibleHeadlines</key>
	<true/>
	<key>customCSS</key>
	<array>
		<dict>
			<key>name</key>
			<string>marked2-editorial</string>
			<key>path</key>
			<string>/Users/vikgamov/projects/ai/vscode-open-in-marked2/styles/marked2-editorial.css</string>
		</dict>
		<dict>
			<key>name</key>
			<string>marked2-technical</string>
			<key>path</key>
			<string>/Users/vikgamov/projects/ai/vscode-open-in-marked2/styles/marked2-technical.css</string>
		</dict>
		<dict>
			<key>name</key>
			<string>marked2-warm</string>
			<key>path</key>
			<string>/Users/vikgamov/projects/ai/vscode-open-in-marked2/styles/marked2-warm.css</string>
		</dict>
	</array>
	<key>customCSSCreated</key>
	<true/>
	<key>customCSSPath</key>
	<string>/Users/vikgamov/projects/ai/vscode-open-in-marked2/styles/marked2-technical.css</string>
	<key>customMarkdownProcessor</key>
	<string></string>
	<key>customPreprocessor</key>
	<string></string>
	<key>customPreprocessorArguments</key>
	<string></string>
	<key>customPreprocessorDefault</key>
	<true/>
	<key>customProcessorArguments</key>
	<string></string>
	<key>customProcessorDefault</key>
	<true/>
	<key>defaultPreviewStyle</key>
	<integer>10</integer>
	<key>defaultProcessor</key>
	<string>Discount</string>
	<key>enableMiniMap</key>
	<true/>
	<key>firstRun</key>
	<false/>
	<key>hasCustomCSSPath</key>
	<true/>
	<key>hasMigratedToMKConductor</key>
	<true/>
	<key>inAppPurchases</key>
	<dict>
		<key>spellingGrammar</key>
		<true/>
	</dict>
	<key>includeMathJax</key>
	<false/>
	<key>includePreviewTemplateInOutput</key>
	<false/>
	<key>isMultiMarkdownDefault</key>
	<false/>
	<key>lastPrefsView</key>
	<integer>7</integer>
	<key>mathjaxConfigs</key>
	<array>
		<string>Accessible</string>
		<string>AM_HTMLorMML</string>
		<string>MML_HTMLorMML</string>
		<string>TeX-AMS_CHTML</string>
		<string>TeX-AMS_HTML</string>
		<string>TeX-AMS-MML_HTMLorMML</string>
		<string>TeX-MML-AM_CHTML</string>
		<string>TeX-MML-AM_HTMLorMML</string>
	</array>
	<key>minimalJavaScript</key>
	<true/>
	<key>permissionGranted</key>
	<true/>
	<key>requireCmdToCollapse</key>
	<true/>
	<key>showQuickOverviewOnLaunch</key>
	<false/>
	<key>styleManagerStyles</key>
	<array>
		<dict>
			<key>bundleResource</key>
			<string>swiss</string>
			<key>createdAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>builtin-swiss</string>
			<key>isBuiltin</key>
			<true/>
			<key>name</key>
			<string>Swiss</string>
			<key>path</key>
			<string></string>
			<key>sortIndex</key>
			<integer>0</integer>
			<key>source</key>
			<string>Builtin</string>
			<key>updatedAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>bundleResource</key>
			<string>ink</string>
			<key>createdAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>builtin-ink</string>
			<key>isBuiltin</key>
			<true/>
			<key>name</key>
			<string>Ink</string>
			<key>path</key>
			<string></string>
			<key>sortIndex</key>
			<integer>1</integer>
			<key>source</key>
			<string>Builtin</string>
			<key>updatedAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>bundleResource</key>
			<string>goldilocks</string>
			<key>createdAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>builtin-goldilocks</string>
			<key>isBuiltin</key>
			<true/>
			<key>name</key>
			<string>Goldilocks</string>
			<key>path</key>
			<string></string>
			<key>sortIndex</key>
			<integer>2</integer>
			<key>source</key>
			<string>Builtin</string>
			<key>updatedAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>bundleResource</key>
			<string>github</string>
			<key>createdAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>builtin-github</string>
			<key>isBuiltin</key>
			<true/>
			<key>name</key>
			<string>GitHub</string>
			<key>path</key>
			<string></string>
			<key>sortIndex</key>
			<integer>3</integer>
			<key>source</key>
			<string>Builtin</string>
			<key>updatedAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>bundleResource</key>
			<string>amblin</string>
			<key>createdAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>builtin-amblin</string>
			<key>isBuiltin</key>
			<true/>
			<key>name</key>
			<string>Amblin</string>
			<key>path</key>
			<string></string>
			<key>sortIndex</key>
			<integer>4</integer>
			<key>source</key>
			<string>Builtin</string>
			<key>updatedAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>bundleResource</key>
			<string>UpstandingCitizen</string>
			<key>createdAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>builtin-upstandingcitizen</string>
			<key>isBuiltin</key>
			<true/>
			<key>name</key>
			<string>Upstanding Citizen</string>
			<key>path</key>
			<string></string>
			<key>sortIndex</key>
			<integer>5</integer>
			<key>source</key>
			<string>Builtin</string>
			<key>updatedAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>bundleResource</key>
			<string>Lopash</string>
			<key>createdAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>builtin-lopash</string>
			<key>isBuiltin</key>
			<true/>
			<key>name</key>
			<string>Lopash</string>
			<key>path</key>
			<string></string>
			<key>sortIndex</key>
			<integer>6</integer>
			<key>source</key>
			<string>Builtin</string>
			<key>updatedAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>bundleResource</key>
			<string>manuscript</string>
			<key>createdAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>builtin-manuscript</string>
			<key>isBuiltin</key>
			<true/>
			<key>name</key>
			<string>Manuscript</string>
			<key>path</key>
			<string></string>
			<key>sortIndex</key>
			<integer>7</integer>
			<key>source</key>
			<string>Builtin</string>
			<key>updatedAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>bundleResource</key>
			<string>Grump</string>
			<key>createdAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>builtin-grump</string>
			<key>isBuiltin</key>
			<true/>
			<key>name</key>
			<string>Grump</string>
			<key>path</key>
			<string></string>
			<key>sortIndex</key>
			<integer>8</integer>
			<key>source</key>
			<string>Builtin</string>
			<key>updatedAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>bundleResource</key>
			<string></string>
			<key>createdAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>custom-baaf09a7-73e8-4e65-b56e-5bda032f4bd2</string>
			<key>isBuiltin</key>
			<false/>
			<key>name</key>
			<string>marked2-editorial</string>
			<key>path</key>
			<string>/Users/vikgamov/projects/ai/vscode-open-in-marked2/styles/marked2-editorial.css</string>
			<key>source</key>
			<string>Custom</string>
			<key>updatedAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>bundleResource</key>
			<string></string>
			<key>createdAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>custom-de95d406-52d4-472f-8bf8-17d949dc4782</string>
			<key>isBuiltin</key>
			<false/>
			<key>name</key>
			<string>marked2-technical</string>
			<key>path</key>
			<string>/Users/vikgamov/projects/ai/vscode-open-in-marked2/styles/marked2-technical.css</string>
			<key>source</key>
			<string>Custom</string>
			<key>updatedAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>bundleResource</key>
			<string></string>
			<key>createdAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>enabled</key>
			<true/>
			<key>identifier</key>
			<string>custom-b81a8778-1307-43a2-9c20-0373c442c5c0</string>
			<key>isBuiltin</key>
			<false/>
			<key>name</key>
			<string>marked2-warm</string>
			<key>path</key>
			<string>/Users/vikgamov/projects/ai/vscode-open-in-marked2/styles/marked2-warm.css</string>
			<key>source</key>
			<string>Custom</string>
			<key>updatedAt</key>
			<date>2026-05-22T06:23:27Z</date>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>syntaxHighlightOnlyLang</key>
	<true/>
	<key>syntaxStyles</key>
	<array>
		<string>agate</string>
		<string>androidstudio</string>
		<string>arduino-light</string>
		<string>arta</string>
		<string>atom-one-dark</string>
		<string>atom-one-light</string>
		<string>codepen-embed</string>
		<string>color-brewer</string>
		<string>darcula</string>
		<string>dark</string>
		<string>default</string>
		<string>dracula</string>
		<string>foundation</string>
		<string>github</string>
		<string>github-gist</string>
		<string>googlecode</string>
		<string>grayscale</string>
		<string>gruvbox-dark</string>
		<string>gruvbox-light</string>
		<string>hopscotch</string>
		<string>hybrid</string>
		<string>idea</string>
		<string>ir-black</string>
		<string>mono-blue</string>
		<string>monokai</string>
		<string>monokai-sublime</string>
		<string>obsidian</string>
		<string>ocean</string>
		<string>paraiso-dark</string>
		<string>paraiso-light</string>
		<string>pojoaque</string>
		<string>purebasic</string>
		<string>qtcreator-dark</string>
		<string>qtcreator-light</string>
		<string>railscasts</string>
		<string>rainbow</string>
		<string>school-book</string>
		<string>solarized-dark</string>
		<string>solarized-light</string>
		<string>sunburst</string>
		<string>tomorrow</string>
		<string>tomorrow-night</string>
		<string>tomorrow-night-blue</string>
		<string>tomorrow-night-bright</string>
		<string>tomorrow-night-eighties</string>
		<string>vs</string>
		<string>xcode</string>
		<string>xt256</string>
		<string>zenburn</string>
	</array>
	<key>tempWords</key>
	<string></string>
	<key>textZoom</key>
	<real>1</real>
	<key>useCustomMarkdownProcessor</key>
	<true/>
	<key>useCustomPreprocessor</key>
	<true/>
	<key>wordStyles</key>
	<array>
		<string>Chill</string>
		<string>Grump</string>
		<string>Headspace</string>
		<string>Ink</string>
		<string>Manuscript</string>
		<string>Swiss</string>
		<string>Upstanding Citizen</string>
	</array>
</dict>
</plist>
