<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>5768</real>
	<key>STP_is_first_launch</key>
	<false/>
	<key>STP_last_used_version</key>
	<string>3.1.2</string>
</dict>
</plist>
