<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActionsPaneHeight</key>
	<real>432</real>
	<key>AlternateSearchURL</key>
	<string>http://www.google.com/search?tbm=isch&amp;q=***</string>
	<key>CombinedItemOrder</key>
	<array>
		<string>ext-com.pilotmoon.popclip.extension.large-type</string>
		<string>ext-io.gamov.popclip.extension.ai-summarize</string>
		<string>openlink</string>
		<string>ext-com.pilotmoon.popclip.extension.open-in-safari</string>
		<string>ext-com.pilotmoon.popclip.extension.open-in-chrome</string>
		<string>ext-com.pilotmoon.popclip.extension.open-in-firefox</string>
		<string>search</string>
		<string>ext-com.pilotmoon.popclip.extension.google-translate</string>
		<string>cut</string>
		<string>copy</string>
		<string>paste</string>
		<string>ext-com.pilotmoon.popclip.extension.pasteplain</string>
		<string>ext-com.pilotmoon.popclip.extension.formatting</string>
		<string>revealfile</string>
		<string>lookup</string>
		<string>ext-com.pilotmoon.popclip.extension.swap</string>
		<string>ext-com.pilotmoon.popclip.extension.pocket</string>
		<string>ext-com.pilotmoon.popclip.extension.short-menu</string>
		<string>ext-com.pilotmoon.popclip.extension.textexpander</string>
		<string>ext-com.pilotmoon.popclip.extension.fantastical</string>
		<string>ext-com.pilotmoon.popclip.extension.notes</string>
		<string>ext-com.pilotmoon.popclip.extension.wordcount</string>
		<string>ext-com.pilotmoon.popclip.extension.charcount</string>
		<string>ext-com.pilotmoon.popclip.extension.title-case</string>
		<string>ext-com.pilotmoon.popclip.extension.uppercase</string>
		<string>ext-com.pilotmoon.popclip.extension.copy-as-markdown</string>
		<string>ext-com.pilotmoon.popclip.extension.chatgpt</string>
		<string>ext-com.pilotmoon.popclip.extension.open-in-browser</string>
		<string>ext-autoid.autoname.strikethrough.xrc3knu_.popclipext</string>
		<string>ext-com.pilotmoon.popclip.extension.iconify</string>
		<string>openmail</string>
	</array>
	<key>CursorsUnknown</key>
	<array>
		<string>:EBDwAAwDBgZiBGEI+Qn5CWEIYgQGBgwP+B0AOABwAOAAQA0:</string>
		<string>:DgoQAoZBochPAWAAKD9RKBgGhAA0:</string>
		<string>:DSAH6MPgDPgAHoABMAAGwAAYAANgAAyAATAABvAAHgADYAAMgAEwAAbAABgAA/AAH3DEBznA0:</string>
		<string>:BxBjCgKBQFBUKhUFgUBQxg0:</string>
		<string>:HBwAYAAAAA8AAPgBAMA/AAD8AwAAAAAAAAAAAAAAAAAAAAAAABgAgMEBADgeAID3AQD4HwCA7wEAeBwAgIMBABgAAAAAAAAAAAAAAAAAAAAAAADAPwAA/AMAgB8AAPAAAAAGAA0:</string>
		<string>:Dw/gA3wGP8Qf5A/6B/4D//+B/8C/4E/wR/jBfIAPAA0:</string>
		<string>:EAd//iGEMYwxjs2zH/jhhw0:</string>
		<string>:IC4AcAAAAP4BAACGAwAAAwYAAAMGAAAGDAAAHgwAADgMAPw3DAD/PwwAAzwMAAM8DADzPAwA8zwMAPM8DADzPAwAAzz8AAM8/AEDPDwHAzw8DgM8PBwDPDxwAzw8YAM8POADPDxwAzw8PAM8PA4DPDwHAzz8AwM8/ADzPGwA8zwMAPM8DADzPAwAAzwMAAM8DAD/PwwA/jcMAAA4DAAAHgwAAAYMAAADBgAAAwYAAIYDAAD+AQAA+AAA0:</string>
		<string>:Dw+AAKAAiACCgLagrsidQoRyJ+oK2gKCACIACgACAA0:</string>
		<string>:Dw0gAhgDioJEIj4KAAYAx8fmMxYNjgPGACIA0:</string>
		<string>:Dw8AfwAhgBHACLQF74MewQbxhu1BGyAGEAMIAfwBAA0:</string>
		<string>:DQ/gACZgCAZigH4+TIAJMOHnGyAGgiFgAjgA0:</string>
		<string>:Lh7g/////wH+/////4EAAAAAQDAAAAAAMAwAAAAADAMAAAAAwwMAAADw+AEAAAB+AwAAAADwAAAAAAA8BAMMcBAP4wEHPMbDbOCBzfF4M/xwfzx//POPP88e//jjzcPNb7vJ8TAacEAjPIQDDHAID8EAAhzGAwAAAADwAAAAAADsBwAAAPjxAAAAADwMAAAAAAwDAAAAAMMAAAAAwDAAAAAAMPj/////B/z/////AA0:</string>
		<string>:CRPHIx5HgQIFChRsiLBBgQIFChTHIx4H0:</string>
		<string>:JSMAwAMAAABIAAAAgBkAAAAwAwAAAGYAAADADAAAAJgBAAAAMwAAAGAGAAAAzAAAAIAZAAAAMAMAAABmAAD4//f/wP///z8IADMADAFgBoDh/7//H/B/z/8BACABAAAAZgAAAMAMwAAAmAF+AAAzsDcAYAb+BwDM4P8BgBn8PwAww/8PAGb4/wHADP4fAJjB/wMAHvh/AIAB/gcAAIB/AAAAwAM0:</string>
		<string>:Dw+AAEAAIAAQAAgABAAC/v+AAEAAIAAQAAgABAACAA0:</string>
		<string>:Dw8/gBBABCAC0AKYCoAKgAKgAqA6gBaACGAEEAL4AQ0:</string>
		<string>:DQ0AHyACRIAIEAEiQASI/zEABsAA+P8B0:</string>
		<string>:FBSAAAAUAEABABQAgAAAAAAOOBBBBA44AAAAgAAAFAJA0QOUQIDQBQBVANAFAIEA4AUAIA0:</string>
		<string>:CxEABDBAAQlEEEIQgQQU4AchCFlIIxEJKAA0:</string>
		<string>:EAfhhzvYzbNxjjGMIYR//g0:</string>
		<string>:HhAgAAABAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAAAAAAAAIAAAAQ0:</string>
		<string>:Mi4A8AEAPgAA+B8A/gcAYOAAHBgAwAAGGMAAAAMYYAADABjAwAAGAOAHA4MfAAA+DAwfAADAMDAMAAAAw8AwAAAADAPDAAAAMAwMAwAAwDAwDAAAAMPAMAAAAAwDwwAAADAMDAMAAMcwMMwDAD7DwDAfAM4MA8PMARwzDAwzDjjMMDDMcDgww8AwA3fADAPDDNgBMwwMM+AOzDAwzMDxMMPAMMMDxwwDw4wDODMMDDMHwM8wMMwPADzDwDAPAGAMA8MYAAAwDAwDAADAMDAMAAAAw8AwAAAADAPDAAAAMAwMAwAAwDAwDAAAAMPAMAAAAA8DwwMAgB8MDH4AAAYwMIABAAxggAEMADCAAQYwAICBA3BgAAD+B4D/AQDgDwD8AQA0:</string>
		<string>:Dw8egBBABCAC0AKQCoAKgAKgAqASgBaACEAEEALwAA0:</string>
		<string>:DwcICEqK3CkoKHeipCAgAA0:</string>
		<string>:ABA0:</string>
		<string>:DCRgAA/4wT/+5///DwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA8P/+73/8gx/wAAY0:</string>
		<string>:Dw8AfgAhABGACKAFKoMKgAKggqtACyACEAMIAfwAAA0:</string>
		<string>:CREQcKAgIug9Cj5E+KB4L4gIGxwQAA0:</string>
		<string>:ERICAAoAJACIABACIAhAIICAAAEC4g8k6CkIJKALQBWALgCBALwAgAA0:</string>
		<string>:JSMAwAMAAABIAAAAgBkAAAAwAwAAAGYAAADADAAAAJgBAAAAMwAAAGAGAAAAzAAAAIAZAAAAMAMAAABmAAD4//f/wP///z8IADMADAFgBoDh/7//H/B/z/8BACABAAAAZgAAAMAMwAAAmAF+AAAzMDAAYAYGBgDMYIABgBkEIAAwwwAMAGYYgAHADAIQAJjBAAMAHjhwAIABDgcAAIB/AAAAwAM0:</string>
		<string>:MC4A/gAAfwAA/wPA/wCAAQfggAGAAQwwgAGAAQwwgAGAARgYgAGAPxgY/AEAfxgY/gAAYBgYBgAAYBgYBgAAYBgYBgAAYBgYBgAAYBgYBgAAYBgYBgAAYBgYBgAAYBgYBgCAYxgYxgHAZxgY5gNwZhgYZg4YZhgYZhgcZhgYZjgHZhgYZuABZhgYZoADZhgYZsAHZhgYZuAeZhgYZng4ZhgYZhxwZhgYZg7gZxgY5geAYxgYxgEAYxgYxgAAYBgYBgAAYBgYBgAAYBgYBgAAYBgYBgAAYBgYBgAAYBgYBgAAYBgYBgAAfhgYfgAAPxgY/ACAARgYgAGAAQwwgAGAAQwwgAGAAQfggAGA/wPA/wEA/wGA/wA0:</string>
		<string>:FBQABgD8A/D/gP8ffODDAzwegOcAcA4A9wDwDwDvAHAOAOcBeDzAwwc++P8B/w/APwBgAA0:</string>
		<string>:EQkgCGAwsK4wdzYo2NwZ6xoYDCAIAA0:</string>
		<string>:DQ0AAqAAIiAI2AAKQqEUciIwyAEKgAAA0:</string>
		<string>:IC4AAA4AAIB/AADAYQAAYMAAAGDAAAAwYAAAMHgAADAcAAAw7D8AMPz/ADA8wAAwPMAAMDzPADA8zwAwPM8AMDzPAD88wIA/PMDgPDzAcDw8wDg8PMAOPDzABjw8wAc8PMAOPDzAPDw8wHA8PMDgPDzAwD88wAA/PMAANjzPADA8zwAwPM8AMDzPADA8wAAwPMAAMPz/ADDsfwAwHAAAMHgAADBgAABgwAAAYMAAAMBhAACAfwAAAB8A0:</string>
		<string>:EBDwAAwDBgYCBAEI+Qn5CQEIAgQGBgwP+B0AOABwAOAAQA0:</string>
		<string>:Dw8APAAhABGACKAFKoEKgAKgAqlACyACEAEIAXgAAA0:</string>
		<string>:ISEAAAA8AAAA3AAAAIwDAAAMDgBwDBgAMA8wAHAMcAAgCHAAwABwAIADcAAADnAAADxwAAD84AAAjIMBAAwOBgAMOAwADPAMAAzwHwAMcB4ADHAAAAxwAAAMcAAADHAAAAxwAAAMcAAACHAAADBwAABgcAAAYHAAAGB8AADAfAAAgA8AAAAOAAAAAA0:</string>
		<string>:Dw+ABzAEBAQBxDgkJooRW4wRI8cQMAQEAWoAGQAHAA0:</string>
		<string>:EBDwAAwDBgYCBAEI+Qn5CQEIAgQGBgwH8AwAGAAwAGAAwA0:</string>
		<string>:ACA0:</string>
		<string>:DQ0IgALIgcAgJygFQgEogA0IAiKAAiAA0:</string>
		<string>:Dw9/gBBADCAG0Bb4HsQLwAawR/A2wBbACGAEEAL8AQ0:</string>
		<string>:JAxgAABgAAcAAA54AADgwQcAAD5+AADg9wcAAP5/AADg7wcAAH58AADggwcAAB5wAADgAAQAAAI0:</string>
		<string>:Cg54GDZwjGm+CDFiyCCBBxJI4AE0:</string>
		<string>:Bw8Iiihoo3BEHIotKKIgAA0:</string>
		<string>:FiJAAAB8AMAzANgYAHMMwBgHMIYBjMMAxmCAcTBgGBwYDg6GA4PBgGFwwBgYYAYOOIEDzMAAMvCADHwgAzPIwAwy8IEMeCAGAIgDAMIBwOAAMHAADzjwAJwPAP4AAAYA0:</string>
		<string>:Li7gAAAAwAH+AQAA/sFhAACA4RgwAAAwYAYMAAAM2IABAAAGPHgAAIAHDwcAAIDDwwAAAMDwMAAAADA8DAAAAAwPAwAAAMPDAAAAwPAwAAAAMDwMAAAADA8DAAAAw8MABzzA8DDgAx8wPAzOwBwMD8MxMA7DwzgMDMfwsAMDAzc8fMDAgA8PHzAw4MPDDgwM3PAwDwPDMzwMx8A4DA+DMzAHw8PAD/zA8DDAAw8wPAxggAEMDwMAAADDwwAAAMDwMAAAADA8DAAAAAwPAwAAAMPDAAAAwPAwAAAAMDwcAAAADg8eAADgwQMGAAAYsAEDAAADZsAAAMCAcRgAAGA4+AcAAPgHfAAAAPgA0:</string>
		<string>:JiIAAAAAAXgAAPABPwAAxsAMAMBwGAYAGBgDAzgDzMAAdwAbYGAYYAYYCAKMAAQGgDEAgwMwDMDAAQYCEPjAgAEGc3DgwGE4GHA4DBwM+IcBjgF4MIB3AAAGsA8AwADGAQAYwAAAAAMYAABgAAMAAAxgAAAAAwwAACCAAQAAGDAAAAACBgAAwMAAAAA4GAAAAOYDAADAfAAAAOADAAAAMAAAAAA0:</string>
		<string>:FSIAABAAAAMAUAAACQAQAQAhABAEAIEAEBAAAQIQQAABCBAAAQEgEAAEAYAQABABABIAQAEA+D8AAQQggAAEAIwAQRIgiAIAYUAQCAgCgAAAEAQAggCACQDAAAA0:</string>
	</array>
	<key>ExtensionAdded</key>
	<true/>
	<key>HasRunBefore</key>
	<true/>
	<key>HasShownWelcome</key>
	<true/>
	<key>LastRunOSVersion</key>
	<string>15.6.1</string>
	<key>LastRunVersion</key>
	<integer>5155</integer>
	<key>LearnedAppsAndCursors</key>
	<dict>
		<key>com.YoruFukurouProject.YoruFukurou</key>
		<array>
			<integer>-1</integer>
		</array>
		<key>com.apple.Preview</key>
		<array>
			<integer>-1</integer>
		</array>
		<key>com.barebones.bbedit</key>
		<array>
			<integer>-1</integer>
			<integer>1943346491</integer>
		</array>
		<key>com.echofon.Echofon-AppStore</key>
		<array>
			<integer>-1</integer>
		</array>
		<key>com.echofon.Echofon-Premium-AppStore</key>
		<array>
			<integer>-1</integer>
		</array>
		<key>com.github.GitHub</key>
		<array>
			<integer>-1</integer>
		</array>
		<key>com.github.atom</key>
		<array>
			<integer>3543341106</integer>
		</array>
		<key>com.iconfactory.Twitterrific</key>
		<array>
			<integer>-1</integer>
		</array>
		<key>com.jetbrains.PhpStorm</key>
		<array>
			<integer>-1</integer>
		</array>
		<key>com.leisterpro.reunion9</key>
		<array>
			<integer>-1</integer>
		</array>
		<key>com.microsoft.Word</key>
		<array>
			<real>515612584</real>
			<integer>-3</integer>
			<real>2126963268</real>
			<integer>2018085536</integer>
			<integer>1076023754</integer>
			<integer>2966496159</integer>
		</array>
		<key>com.operasoftware.Opera</key>
		<array>
			<integer>-1</integer>
		</array>
		<key>com.piezo.Translate-Tab</key>
		<array>
			<integer>-1</integer>
		</array>
		<key>com.readdle.PDFExpert-Mac</key>
		<array>
			<integer>3713890026</integer>
			<integer>1867935722</integer>
			<integer>476976400</integer>
			<integer>-1</integer>
			<real>3881341671</real>
		</array>
		<key>com.redlex.mellel</key>
		<array>
			<integer>-1</integer>
		</array>
		<key>com.sonnysoftware.bookends</key>
		<array>
			<integer>-1</integer>
		</array>
		<key>com.twitter.twitter-mac</key>
		<array>
			<integer>-1</integer>
		</array>
		<key>org.mozilla.firefox</key>
		<array>
			<integer>4167038388</integer>
			<integer>-1</integer>
			<integer>-2</integer>
		</array>
		<key>osfoora.osfooramac</key>
		<array>
			<integer>-1</integer>
		</array>
	</dict>
	<key>NMCursorArrowHashes</key>
	<array>
		<integer>4140023720</integer>
		<integer>4825170</integer>
		<integer>1690366630</integer>
		<integer>3286905854</integer>
		<integer>1091433295</integer>
		<integer>865759947</integer>
		<integer>406914787</integer>
		<integer>4267737583</integer>
		<integer>1972116634</integer>
		<integer>3054600497</integer>
		<integer>2632044190</integer>
		<integer>1556874444</integer>
		<integer>3516802515</integer>
		<integer>716608788</integer>
		<integer>316817932</integer>
		<integer>209248740</integer>
		<integer>2202487578</integer>
		<integer>3523973758</integer>
		<integer>1556424164</integer>
		<integer>2683722134</integer>
		<integer>86727962</integer>
		<integer>2018590238</integer>
		<integer>4215554983</integer>
		<integer>3764025594</integer>
		<integer>1964293923</integer>
		<integer>489546681</integer>
		<integer>3358327962</integer>
		<integer>1259292916</integer>
		<integer>4042499312</integer>
		<integer>660128886</integer>
		<integer>3608113210</integer>
		<integer>1085056533</integer>
		<integer>3705635300</integer>
		<integer>2872209801</integer>
		<integer>2171426722</integer>
		<integer>2592128633</integer>
		<integer>3268939192</integer>
		<integer>1649553491</integer>
		<integer>2947469170</integer>
		<integer>2342299565</integer>
		<integer>85811886</integer>
		<integer>3709077753</integer>
		<integer>3220224652</integer>
		<integer>2561330046</integer>
		<integer>3756791459</integer>
		<integer>276531592</integer>
		<integer>1916591049</integer>
		<integer>659054574</integer>
		<integer>4115430502</integer>
		<integer>68440882</integer>
		<integer>3430438793</integer>
		<integer>1165873091</integer>
		<integer>2686449995</integer>
		<integer>4292615057</integer>
		<integer>3923961171</integer>
		<integer>941018381</integer>
		<integer>2640737995</integer>
		<integer>3930207474</integer>
		<integer>3840059254</integer>
		<integer>877422684</integer>
		<integer>3008766653</integer>
		<integer>4095101602</integer>
	</array>
	<key>NMCursorBeamHashes</key>
	<array>
		<integer>1282509881</integer>
		<integer>782039964</integer>
		<integer>872314675</integer>
		<integer>951316104</integer>
		<integer>2614841607</integer>
		<integer>3013317375</integer>
		<integer>8723498</integer>
		<integer>3881341671</integer>
		<integer>1648655824</integer>
		<integer>2132225783</integer>
		<integer>986276776</integer>
		<integer>2108815043</integer>
		<integer>1617605458</integer>
		<integer>3768742755</integer>
		<integer>301585223</integer>
		<integer>1680165778</integer>
		<integer>3246125942</integer>
		<integer>371397628</integer>
		<integer>1352227264</integer>
		<integer>3592237577</integer>
		<integer>550561415</integer>
		<integer>3593156928</integer>
		<integer>313623291</integer>
		<integer>1696182947</integer>
		<integer>454693619</integer>
		<integer>3317368170</integer>
		<integer>3528407245</integer>
		<real>476976400</real>
		<integer>202232662</integer>
		<real>4237588629</real>
		<integer>1410172770</integer>
		<integer>1787180270</integer>
		<integer>562236315</integer>
		<integer>58485542</integer>
		<integer>2205481246</integer>
		<real>1979098729</real>
		<integer>3713890026</integer>
		<integer>137274115</integer>
		<integer>1634579476</integer>
		<integer>4228590353</integer>
		<integer>717674718</integer>
		<integer>2339080669</integer>
		<integer>3506262039</integer>
	</array>
	<key>NMCursorBlankHashes</key>
	<array>
		<integer>3943240907</integer>
		<integer>3051824092</integer>
		<integer>3844553075</integer>
		<integer>3889002567</integer>
		<integer>2432363428</integer>
		<integer>912009723</integer>
		<integer>1585585465</integer>
		<integer>2118235972</integer>
		<integer>182187519</integer>
		<integer>4146756868</integer>
		<integer>863435329</integer>
		<integer>1849604806</integer>
		<integer>2347836347</integer>
		<integer>2066310239</integer>
		<integer>1343434113</integer>
		<integer>1842762107</integer>
		<integer>3803269361</integer>
		<integer>4126268778</integer>
		<integer>3241990002</integer>
		<integer>1937889105</integer>
		<integer>2030633393</integer>
		<integer>1322688974</integer>
		<integer>2986474126</integer>
		<integer>861322608</integer>
		<integer>1242230406</integer>
		<integer>1538326714</integer>
		<integer>3462542385</integer>
		<integer>396231525</integer>
		<integer>3302960661</integer>
		<integer>1123146820</integer>
		<integer>3373103775</integer>
		<integer>2152550717</integer>
		<integer>126772699</integer>
		<integer>3415885056</integer>
		<integer>3381906459</integer>
		<integer>2902340870</integer>
		<integer>3750905974</integer>
		<integer>2471366878</integer>
		<integer>57741909</integer>
		<integer>2160340890</integer>
		<integer>180499980</integer>
		<integer>2560109077</integer>
		<integer>3973517158</integer>
		<integer>1343905321</integer>
		<integer>147400602</integer>
		<integer>4161630760</integer>
		<integer>4183043023</integer>
		<integer>2460651304</integer>
		<integer>1607530326</integer>
		<integer>1141099836</integer>
		<integer>3030990772</integer>
		<integer>1983920984</integer>
		<integer>309645820</integer>
		<integer>2345480965</integer>
		<integer>3061089388</integer>
		<integer>1890816328</integer>
		<integer>797698498</integer>
		<integer>687287871</integer>
	</array>
	<key>NMCursorKnownHashes</key>
	<array>
		<integer>2686449995</integer>
		<integer>872314675</integer>
		<integer>3592237577</integer>
		<integer>1964293923</integer>
		<integer>3220224652</integer>
		<integer>3462542385</integer>
		<integer>1322688974</integer>
		<integer>1282509881</integer>
		<integer>313623291</integer>
		<integer>489546681</integer>
		<integer>1690366630</integer>
		<integer>2640737995</integer>
		<integer>4063807384</integer>
		<integer>1787180270</integer>
		<integer>2683722134</integer>
		<integer>2560109077</integer>
		<integer>1091433295</integer>
		<integer>1556424164</integer>
		<integer>550561415</integer>
		<integer>3713890026</integer>
		<integer>1649553491</integer>
		<integer>3302960661</integer>
		<integer>1916591049</integer>
		<integer>687287871</integer>
		<integer>137274115</integer>
		<integer>912009723</integer>
		<integer>4146756868</integer>
		<integer>3750905974</integer>
		<integer>562236315</integer>
		<integer>396231525</integer>
		<real>476976400</real>
		<integer>3358327962</integer>
		<integer>2986474126</integer>
		<integer>797698498</integer>
		<integer>1585585465</integer>
		<integer>2947469170</integer>
		<integer>126772699</integer>
		<integer>1640338526</integer>
		<integer>861322608</integer>
		<integer>877422684</integer>
		<integer>716608788</integer>
		<integer>4215554983</integer>
		<integer>2432363428</integer>
		<integer>1983920984</integer>
		<integer>4183043023</integer>
		<integer>3381906459</integer>
		<integer>3241990002</integer>
		<integer>1696182947</integer>
		<integer>454693619</integer>
		<real>1979098729</real>
		<integer>209248740</integer>
		<integer>3008766653</integer>
		<integer>309645820</integer>
		<integer>272092817</integer>
		<integer>1410172770</integer>
		<integer>3705635300</integer>
		<integer>3709077753</integer>
		<integer>1607530326</integer>
		<integer>1343434113</integer>
		<integer>3523973758</integer>
		<integer>3051824092</integer>
		<integer>3516802515</integer>
		<integer>868604933</integer>
		<integer>2592128633</integer>
		<integer>1890816328</integer>
		<integer>8723498</integer>
		<integer>86727962</integer>
		<integer>58485542</integer>
		<integer>1648655824</integer>
		<integer>3246125942</integer>
		<integer>301585223</integer>
		<integer>4095101602</integer>
		<integer>2342299565</integer>
		<integer>2504923424</integer>
		<integer>3768742755</integer>
		<integer>57741909</integer>
		<integer>3943240907</integer>
		<integer>3506262039</integer>
		<integer>2872209801</integer>
		<integer>1937889105</integer>
		<integer>941018381</integer>
		<integer>182187519</integer>
		<integer>3973517158</integer>
		<integer>3923961171</integer>
		<integer>2202487578</integer>
		<integer>1259292916</integer>
		<integer>2561330046</integer>
		<integer>2345480965</integer>
		<integer>1565238727</integer>
		<integer>1141099836</integer>
		<integer>3317368170</integer>
		<integer>1165873091</integer>
		<integer>4158447804</integer>
		<integer>68440882</integer>
		<integer>3889002567</integer>
		<real>4237588629</real>
		<integer>865759947</integer>
		<integer>1538326714</integer>
		<integer>4292615057</integer>
		<integer>2171426722</integer>
		<integer>2018590238</integer>
		<integer>4267737583</integer>
		<integer>4126268778</integer>
		<integer>4825170</integer>
		<integer>2152550717</integer>
		<integer>2689098913</integer>
		<integer>660128886</integer>
		<integer>4042499312</integer>
		<integer>316817932</integer>
		<integer>3061089388</integer>
		<integer>3286905854</integer>
		<integer>3840059254</integer>
		<integer>659054574</integer>
		<integer>2108815043</integer>
		<integer>2902340870</integer>
		<integer>3430438793</integer>
		<integer>3608113210</integer>
		<integer>4228590353</integer>
		<integer>2347836347</integer>
		<integer>3013317375</integer>
		<integer>1203266125</integer>
		<integer>2132225783</integer>
		<integer>2066310239</integer>
		<integer>3268939192</integer>
		<integer>3030990772</integer>
		<integer>3593156928</integer>
		<integer>1085056533</integer>
		<integer>1634579476</integer>
		<integer>4161630760</integer>
		<integer>2460651304</integer>
		<integer>4140023720</integer>
		<integer>2471366878</integer>
		<integer>2632044190</integer>
		<integer>85811886</integer>
		<integer>1311139573</integer>
		<integer>2205481246</integer>
		<integer>1242230406</integer>
		<integer>782039964</integer>
		<integer>1343905321</integer>
		<integer>3528407245</integer>
		<integer>2614841607</integer>
		<integer>951316104</integer>
		<integer>986276776</integer>
		<integer>3415885056</integer>
		<integer>1842762107</integer>
		<integer>3930207474</integer>
		<integer>3764025594</integer>
		<integer>1195115379</integer>
		<integer>1680165778</integer>
		<integer>1617605458</integer>
		<integer>180499980</integer>
		<integer>406914787</integer>
		<integer>3368539031</integer>
		<integer>717674718</integer>
		<integer>1556874444</integer>
		<integer>3803269361</integer>
		<integer>3844553075</integer>
		<integer>1062967461</integer>
		<integer>863435329</integer>
		<integer>549558259</integer>
		<integer>3373103775</integer>
		<integer>3054600497</integer>
		<integer>1972116634</integer>
		<integer>147400602</integer>
		<integer>2114397785</integer>
		<integer>2118235972</integer>
		<integer>276531592</integer>
		<integer>371397628</integer>
		<integer>4115430502</integer>
		<integer>1123146820</integer>
		<integer>2339080669</integer>
		<integer>3756791459</integer>
		<integer>3881341671</integer>
		<integer>2160340890</integer>
		<integer>1352227264</integer>
		<integer>2030633393</integer>
		<integer>202232662</integer>
		<integer>1849604806</integer>
	</array>
	<key>NMLogToFile</key>
	<false/>
	<key>NSNavLastRootDirectory</key>
	<string>/Applications</string>
	<key>NSRequiresAquaSystemAppearance</key>
	<false/>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>593</real>
	<key>PopEnabled</key>
	<true/>
	<key>PopupColor</key>
	<string>auto</string>
	<key>PopupSize</key>
	<real>0.0</real>
	<key>SearchURL</key>
	<string>http://www.google.com/search?q=***</string>
	<key>ShowInMenuBar</key>
	<true/>
	<key>SpellingSelectedLanguage</key>
	<string>en</string>
	<key>UID</key>
	<string>vsYA3hrKxdIgMr8E8zTb7drYgQY=</string>
	<key>UsageCount</key>
	<integer>8409</integer>
	<key>enable-action-ext-com.brettterpstra.popclip.extension.md2mm</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.amazon-search</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.base64</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.brackets</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.capitalize</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.charcount</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.convert</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.copy-as-markdown</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.dash</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.evernote</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.fantastical</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.formatting</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.google-search</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.google-translate</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.large-type</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.lowercase</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.maps</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.matetranslate</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.notes</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.nvalt</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.online-dictionary</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.open-in-brave</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.open-in-chrome</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.open-in-firefox</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.open-in-safari</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.parcel</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.pasteplain</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.pocket</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.quotes</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.remove-spaces</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.rtc</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.select-all</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.short-menu</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.swap</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.taskpaper</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.textexpander</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.title-case</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.tweetbot</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.uppercase</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.wordcount</key>
	<true/>
	<key>enable-action-ext-com.pilotmoon.popclip.extension.youtube</key>
	<true/>
	<key>extension#com.pilotmoon.popclip.extension.amazon-search#site</key>
	<string>amazon.com</string>
	<key>extension#com.pilotmoon.popclip.extension.base64#variant</key>
	<string>Standard (+/)</string>
	<key>extension#com.pilotmoon.popclip.extension.brackets#angle</key>
	<true/>
	<key>extension#com.pilotmoon.popclip.extension.brackets#curly</key>
	<true/>
	<key>extension#com.pilotmoon.popclip.extension.brackets#round</key>
	<true/>
	<key>extension#com.pilotmoon.popclip.extension.brackets#square</key>
	<true/>
	<key>extension#com.pilotmoon.popclip.extension.google-translate#site</key>
	<string>translate.google.com</string>
	<key>extension#com.pilotmoon.popclip.extension.quotes#quotestyle</key>
	<string>“…” (double curly)</string>
	<key>extension#io.gamov.popclip.extension.ai-summarize#extra</key>
	<string>Keep all product names verbatim</string>
	<key>extension#io.gamov.popclip.extension.ai-summarize#model</key>
	<string>claude-haiku-4-5</string>
	<key>extension#io.gamov.popclip.extension.ai-summarize#output</key>
	<string>window</string>
	<key>extension#io.gamov.popclip.extension.ai-summarize#style</key>
	<string>tldr</string>
</dict>
</plist>
