<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Combined</key>
	<dict>
		<key>Menubar</key>
		<dict>
			<key>Items</key>
			<array/>
		</dict>
	</dict>
	<key>Device</key>
	<dict>
		<key>Auth-Identifier</key>
		<string>73065C37-A001-40C6-9C40-81AFD200B3FD</string>
		<key>Device</key>
		<string>a49bfa77ee035e88fbc0563417ceccb0359285e9</string>
		<key>Model</key>
		<string>MacBookPro18,2</string>
	</dict>
	<key>Menu</key>
	<dict>
		<key>Theme</key>
		<dict>
			<key>Dark</key>
			<string>blue-dark</string>
		</dict>
	</dict>
	<key>Menubar</key>
	<dict>
		<key>Global</key>
		<dict>
			<key>ReducePadding</key>
			<integer>0</integer>
		</dict>
		<key>Theme</key>
		<dict/>
	</dict>
	<key>MenubarCurrentApperance</key>
	<string>Dark</string>
	<key>Migration</key>
	<dict>
		<key>CombinedPowerItems</key>
		<true/>
		<key>Profiles</key>
		<true/>
	</dict>
	<key>Profiles</key>
	<dict>
		<key>Available</key>
		<dict>
			<key>identifier</key>
			<string>default</string>
		</dict>
		<key>Settings</key>
		<dict>
			<key>default</key>
			<dict>
				<key>Battery</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>Enabled</key>
						<integer>1</integer>
					</dict>
				</dict>
				<key>CPU</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>Enabled</key>
						<integer>1</integer>
					</dict>
				</dict>
				<key>Combined</key>
				<dict>
					<key>Menubar</key>
					<dict/>
				</dict>
				<key>Disks</key>
				<dict>
					<key>Menubar</key>
					<dict/>
				</dict>
				<key>Memory</key>
				<dict>
					<key>Menubar</key>
					<dict/>
				</dict>
				<key>Network</key>
				<dict>
					<key>Menubar</key>
					<dict/>
				</dict>
				<key>Sensors</key>
				<dict>
					<key>Menubar</key>
					<dict/>
				</dict>
				<key>Time</key>
				<dict>
					<key>Menubar</key>
					<dict/>
				</dict>
				<key>Weather</key>
				<dict>
					<key>Menubar</key>
					<dict/>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Status</key>
	<dict>
		<key>Build</key>
		<dict>
			<key>Last</key>
			<real>2262</real>
		</dict>
		<key>Version</key>
		<dict>
			<key>Last</key>
			<real>7.1999998092651367</real>
		</dict>
	</dict>
	<key>Weather</key>
	<dict>
		<key>Global</key>
		<dict>
			<key>AvailableProviders</key>
			<array>
				<dict>
					<key>key</key>
					<string>apple</string>
					<key>name</key>
					<string>🌍 Apple Weather</string>
				</dict>
				<dict>
					<key>key</key>
					<string>accuweather</string>
					<key>name</key>
					<string>🌍 AccuWeather</string>
				</dict>
				<dict>
					<key>key</key>
					<string>aeris</string>
					<key>name</key>
					<string>🌍 Xweather (formerly Aeris)</string>
				</dict>
				<dict>
					<key>key</key>
					<string>apple</string>
					<key>name</key>
					<string></string>
				</dict>
				<dict>
					<key>key</key>
					<string>environmentcanada</string>
					<key>name</key>
					<string>🇨🇦 Environment Canada</string>
				</dict>
				<dict>
					<key>key</key>
					<string>willyweather</string>
					<key>name</key>
					<string>🇦🇺 WillyWeather (BoM)</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
