<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	sczOoHtKp4mG3noWRqC5QNnJk7vXscsNfcCOuIxlvJIWcxOaTaLX1isBF683Fe4ZDrWQ
	eG7pxgj4/TwtY4WIcn0RBxHhZ7cGDxEXVerqw06B49Hs5icdzHrLaM3BRGvD6BUlpx3a
	5L7Qp4DMxH+PchFbhEKXdbh1Up0OXBIZLqE=
	</data>
</dict>
</plist>
