<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	jA9yrnnkRJFBODFMtd8Yw4m+YcqAvqAa4HnEUrYzSZWVHcFEvWFfXIWsRgvPmqv971x4
	PHiXtQ/26KftsSKkAam8yo2KDeJX0QR/f1xATktJGfGUuGP4K2DhEitG9VLNKzb3NrPf
	c19VQgcUpBaeCeyulTcRnr70PfxneaRL5ac=
	</data>
</dict>
</plist>
