<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	GNaZzSrpcSwPcwUdSmS7ciSkTUu878+7bUqOxD2AeBoRkebdfroV0G4xB3Y+Y38gH/06
	lcOERTZk/ttSXr09MG4JcdlIF3v7GBIR4CVNT+gDyhJjlvgMPFhzAMpMoVeJOJvL0VZP
	8IJWXVwtC3VM9/9bPmkWFSjrpTg9xvJr+t8=
	</data>
</dict>
</plist>
