<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	vp7x6UUltcE5YDzXNXcREaDiwlfT41cxL93GHDqnHUy7tza5lvuglgeR1atxnm4TlxPj
	WxF7KNYUU0yvOfrw6aflrMaDvgdt1q8029C1d9IOJA1uQXfHpOl8qr2LGvWO8G9+xnq4
	FZ7+OKg2M0odPkIPa81tbnlEjwkYfskczpA=
	</data>
</dict>
</plist>
