<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	gXMMau9QmR7/XHZ8G/Pb59vMHYQolgr7gMSsqkyhtsb1g1Sh7Om3ThUAANmQd7tBh5OH
	Dlau0vxk7BXpFzlvz6mDJHLX/dQZPyWnz3ynpVfyqHQD4iqDI04IpnO4SzZGXwhU1AkZ
	UfrnaSPLpsxhk3Orr+4GuB60dvruGoQIDaE=
	</data>
</dict>
</plist>
